*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #7351DE;
    list-style: none;
}

body{
    background:linear-gradient(to right, #845fff, #7047f7);
    scroll-behavior: smooth;
}

.wrapper{
    padding-inline: 5%;
}

/* ===== Header section ===== Header section ===== */

header section{
    margin-top: 30px;
}
#heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1{
    font-size:32px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
header .links{
    display: flex;
    gap: 10px;
}
#heading a i{
    color: white;
    font-size: xx-small;
}
header div.icon{
    margin-top: 30px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

header span{
    color: white;
    text-align: end;
    align-items: end;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 3px;
    transition: 0.5s ease-in-out;
}
header span:hover{
    color: #7351DE;
    background-color: white;
}

/* ====== Main section Style ====== Main section Style ====== */


main{
    height: 80vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
main ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-block: 20px;
}

main ul li{
    background-color: #fff;
    padding: 10px;
    border-radius: 12px;
    transition:0.5s ease-in-out;
}

li:hover{
    transform: scale(1.1);
}

main ul li div.contact{
    display: flex;
    align-items: center;
    gap: 10px;
}

div.contact img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  top: 0;
}

div.contact h2{
    font-size: 18px;
    text-transform: capitalize;
}

div.contact p{
    font-size: smaller;
}

/* ====== Form Style ====== Form Style ====== */


#addContact{
    height: 80vh;
    display: none;
}

.goBack{
    color: white;
    margin-top: 30px;
}
.custom-file-upload{
    width: 70px;
    height:70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-file-upload img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;

}

#uploadImgDiv{
    margin-bottom: 30px;
}
.inputBox{
    display: flex;
    padding: 16px;
    border-radius:8px;
    background-color: white;
    width: 100%;
}

.inputBox span{
    font-size:small;
    color: red;
}

input::placeholder{
    color: #7351DE;
}

/*------------  error box -------- */

.errBox{
    display: flex;
    justify-content: end;
    width: 170px;
    display: none;
}
#nmErr, #phErr{
    background-color: white;
    width:100%;
    text-align: start;
    font-size: xx-small;

}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-block: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form input{
    outline: none;
    border: none;
    width: 100%;

}


input[type='submit']{
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    background-color: white;
}


/* ===== Footer ====== Footer ====== Footer ====== */

#footer{
    position: relative;
    justify-content: center;
    height: 20vh;
    display: none;
}
footer section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: 30px;

}

footer section i{
    color: white;
    transition: 0.5s ease-in-out;
}

footer section i:hover{
    transform: scale(1.2);;
}